body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 800px;
  height: 350px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: azure;
  margin-top: 20px;
}

.ball {
  position: absolute;
  background-color: green;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

.line {
  position: absolute;
  height: 3px;
  background-color: red;
  transform-origin: top left;
  border-radius: 100%;
  cursor: default;
  top: 50%;
  left: 50%;
}

.target-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.target {
  position: absolute;
  background-color: red;
  border-radius: 50%;
}

.level-container {
}

.shots-container {
}

.splash-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: gray;
  opacity: 0.8;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.splash-screen__description {
  font-size: 20px;
  padding: 0px 60px;
}

.splash-screen__start-button {
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 26px;
  cursor: pointer;
  background-color: white;
}
